.TodoCard {
  border: 2px solid #564418;
  padding: 20px;
  border-radius: 4px;
  background: blanchedalmond;
  width: 250px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.heading {
  font-size: 20px;
}
